.headerMainContainer {
  padding: 15px;
  display: flex;
  border-bottom: 1px solid rgb(219, 219, 219);
  background-color: rgb(224, 240, 255);
}

.headerBrandLogo {
  text-transform: uppercase;
  font-size: 30px;
  color: #3f51b5;
  letter-spacing: 1px;
}

.headerButtons {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
}

.headerButtons > button {
  font-size: 17px;
  object-fit: contain;
}
