* {
  margin: 0%;
  overflow-x: hidden;
}

.app {
  background-color: #fafafa;
  height: 100vh;
}

.navbar {
  background-color: aliceblue !important;
}

.navbar-nav {
  flex-direction: row;
}

.btn {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  border: 0ch;
  background: none;
  text-shadow: 2px;
  color: #007bff;
}
